body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 20px;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title{
  color: lightblue;
  padding:0px 12px;
  font-variant: small-caps;
  font-family: "Arial Black", Gadget, sans-serif;
  float:right;
  font-size: 24px;
}

.addDancerButton{
  padding:0px 12px;
  font-variant: small-caps;
  font-family: "Arial Black", Gadget, sans-serif;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:20px solid red;
  border-radius:5px;
  position:absolute;
  transform:rotate(90deg);
}



.lineUp{
  padding:0px 12px;
  font-variant: small-caps;
  font-family: "Arial Black", Gadget, sans-serif;
  float:left;
}

.change{
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition-duration: 10ms;
}