body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 20px;
  background: linear-gradient(0deg, #dc1700, #4d00d9);
  background-size: 400% 400%;

  -webkit-animation: backgroundGradient 32s ease infinite;
  -moz-animation: backgroundGradient 32s ease infinite;
  animation: backgroundGradient 32s ease infinite;
}

body, a:link, a:visited, a:active{
  color: white;
}

.danceCursor {
  height: 100%;
}

.shape {
  width: 300px;
}

.title{
  color: #f458e5;
  padding:10px 12px;
  font-variant: small-caps;
  font-family: "Arial Black", Gadget, sans-serif;
  float:right;
  font-size: 24px;
  background-color: #0d2656;
}

.addDancerButton{
  padding:10px 12px;
  font-variant: small-caps;
  font-family: "Arial Black", Gadget, sans-serif;
  float:right;
}
.topbar{
  height:53px;
  background-color: #214ca0;
}

.subbar{
  padding:10px 12px 10px 12px;
  height:19px;
  background-color: #f4a142;
  font-variant: small-caps;
  font-size: 18px;
  font-family: "Arial", Gadget, sans-serif;
}

.dancer {
  margin: 50px 0;
  position: absolute;
  display: block;
  color: white;
  content: url('img/star.gif');
}

.cloud {
  height: 150px;
  position: absolute;
  overflow: visible;
  display: block;
  content: url('img/cloud.gif');
}

.lineUp, .scatter{
  padding:10px 12px;
  font-variant: small-caps;
  font-family: "Arial Black", Gadget, sans-serif;
  float:left;
  transition-duration: 10ms;
}

.change{
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  transition-duration: 100ms;
}

@-webkit-keyframes backgroundGradient {
  0%{background-position:58% 0%}
  50%{background-position:43% 100%}
  100%{background-position:58% 0%}
}
@-moz-keyframes backgroundGradient {
  0%{background-position:58% 0%}
  50%{background-position:43% 100%}
  100%{background-position:58% 0%}
}
@keyframes backgroundGradient {
  0%{background-position:58% 0%}
  50%{background-position:43% 100%}
  100%{background-position:58% 0%}
}

